{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{#    <meta name="viewport" content="width=device-width" />#}
    <title>Title</title>
</head>
<body>
    <div id="root">
    </div>
{#      {% render_bundle 'main' %}#}

    hello
    {% if user.is_anonymous %}
        <a href="{% url 'social:begin' 'vk-oauth2' %}">Enter VK</a>
        <a href="{% url 'social:begin' 'github' %}">Enter gh</a>
    {% endif %}
    {% if user.is_authenticated %}
        <a href="{% url "logout"%}?next=../">Log out</a>
    {% endif %}
</body>
</html>